<div class="detail">
  Author:{{question.author}}
  Question: {{question.inquiry}}
  Notes: {{question.notes}}
  <br>
  Image: <img src={{question.image}} alt={{question.inquiry}}>
  <br>
  <br>
  <button class="btn"{{action 'delete' question}}>Delete</button>

</div>
<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
  {{answer-tile answer=answer}}
  {{/each}}
</ul>
