Author:{{question.author}}
Question: {{question.inquiry}}
Notes: {{question.notes}}
<br>
Image: <img src={{question.image}} alt={{question.inquiry}}>

<button {{action 'delete' question}}>Delete</button>
