<div class="question">
  <div class="text">
    <span class="quesHead">{{#link-to 'question' question.id}}{{question.author}}'s question: {{/link-to}}</span>
    <br>
    {{question.inquiry}}
    {{#if isImageShowing}}
    <p><img src={{question.image}} alt={{question.inquiry}} {{action 'imageHide'}}></p>
    {{else}}
    <button class="btn" {{action 'imageShow'}}>Image</button>
    {{/if}}
  </div>
</div>
