<div class="question">
    {{#link-to 'question' question.id}}{{question.author}}'s question: {{/link-to}}
    <br>
    {{question.inquiry}}
    {{#if isImageShowing}}
      <p><img src={{question.image}} alt={{question.inquiry}} {{action 'imageHide'}}></p>
    {{else}}
      <button {{action 'imageShow'}}>Image</button>
    {{/if}}
</div>
